<a href="/"><button class="homebutton">HOME</button></a>
<a href="#firstsection"><button class="financesbutton">FINANCES</button></a>
<a href="#secondsection"><button class="expensesbutton">EXPENSES</button></a>
<button class="logoutbutton">LOGOUT</button>

<article class="scroller">

<section id="firstsection">
<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-7 mt-5">
<header>
    <h1 class="dashh1">Woof woof!</h1>
    <hr align="left">
    <h2 class="dashh2">Welcome, <span class="dashname">{{ name }}</span>. Let's take a look at your personal finances:</h2>
</header>
</div>
</div>
</div>

<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-8 bg-white rounded-lg p-5 mt-4 mb-5">
<div class="overview">
    <h3>Here is an overview of your finances …</h3>
    <hr class="boxdivider" align="left">

    <div class="row">
    <div class="col">
    <h4>Your currently monthly income is <span class="monthlyinctext">$2973.43</span> and you are saving <span class="monthlysavtext">$518.49</span> per month.</h4>
    <p class="subsmallertext">Has your monthly income changed? <span id="change-monthly" class="pagelink">Click here to update</span>.</p>
    <!--<p>Your current monthly finance is ${{ Wallet.current_savings }}</p>-->
    <p class="commentarytext">The monthly expense that comprises the largest amount of your monthly income is your {{ monthly_expense_name }} at ${{ monthly_expense_amount }}.</p>
    </div>
    <div class="col">
        <div>
  <center><canvas id="myChart"></canvas></center>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- EXAMPLE 
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: 'Expense',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
  });
</script> -->

    </div>
    </div>

</div>
</div>
</div>
</div>
</section>

<section class="expenses" id="secondsection">

<div class="d-flex align-items-center">
    <div class="w-100 row justify-content-center">
        <div class="col-10 col-lg-7 mt-5">
            <h2 class="dashh2 centerfold">Expenses</h2>
</div></div></div>

<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-8 bg-white rounded-lg p-5 mt-4 mb-5">
    <header>
        <h3>Here are your Monthly Expenses…</h3>
        <hr class="boxdivider" align="left">
        <p class="commentarytext">Your recurring monthly expenses help you keep track of where your money is going. All expenses here deduct from your monthly incoming and calculate how much you are saving. Your current total in monthly expenses is ${{ Wallet.total_monthly_expenses }}. Your current expenses are below:</p>
        <div class="row">
            <div class="col">
                <h5>name</h5>
                <p>$100</p>
            </div>
        </div>


        <button id="addExpenseBtn" class="darkbutton addexp">Click to add a monthly expense</button>
    </header>
    
    <div id="expmodal" class="hiddensection">
    <h3>Add Expense</h3>
     <form class="form expense-form">
      <div class="form-group">
        <label for="source-of-expense">source of expense:</label>
        <input class="form-input" type="text" id="source-of-expense" />
      </div>
      <div class="form-group">
        <label for="dollar-amount">dollar amount:</label>
        <input class="form-input" type="text" id="dollar-amount" />
      </div>
            <div class="form-group">
        <button class="btn btn-primary" type="submit">add expense</button>
      </div>
      </form>
    </div>
    
</section>

<!--
<section>
    <div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-7 mt-5">
    <center><img class="creditsbottom" src="/assets/images/wwd_dogstatic.png"></center>
    <p>GITHUB</p>
</div></div></div>

</section> -->

<!--<section class="goals">
    <header>
        <h3>goal</h3>
        <button id="setGoalBtn">+</button>
    </header>
    
</section>-->

</article>

<script src="./js/expense.js"></script>
<script src="./js/chart.js"></script>
