
<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-7 mt-5">
<header>
    <h1 class="dashh1">Woof woof!</h1>
    <hr align="left">
    <h2 class="dashh2">Welcome, <span class="dashname">{{ name }}</span>. Let's take a look at your personal finances:</h2>
</header>
</div>
</div>
</div>

<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-8 bg-white rounded-lg p-5 mt-4 mb-5">
<section class="overview">
    <h3>Here is an overview of your finances …</h3>
    <hr class="boxdivider" align="left">
    <h4>Your currently monthly income is <span class="monthlyinctext">$2973.43</span> and you are saving <span class="monthlysavtext">$518.49</span> per month.</h4>
    <p class="subsmallertext">Has your monthly income changed? <span id="change-monthly" class="pagelink">Click here to update.</span></p>
    <!--<p>Your current monthly finance is ${{ Wallet.current_savings }}</p>-->
    <p class="commentarytext">The monthly expense that comprises the largest amount of your monthly income is your {{ monthly_expense_name }} at ${{ monthly_expense_amount }}.</p>
</section>
</div>
</div>
</div>

<section class="expenses">

<div class="d-flex align-items-center">
    <div class="w-100 row justify-content-center">
        <div class="col-10 col-lg-7 mt-5">
            <h2 class="dashh2 centerfold">Monthly Expenses</h2>
</div></div></div>

<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-8 bg-white rounded-lg p-5 mt-4 mb-5">
    <header>
        <h3>Monthly Expenses {{ Wallet.total_monthly_expenses }}</h3>
        <button id="addExpenseBtn" class="darkbutton">+</button>
       </header>
    <h3>Add Expense</h3>
     <form class="form expense-form">
      <div class="form-group">
        <label for="source-of-expense">source of expense:</label>
        <input class="form-input" type="text" id="source-of-expense" />
      </div>
      <div class="form-group">
        <label for="dollar-amount">dollar amount:</label>
        <input class="form-input" type="text" id="dollar-amount" />
      </div>
            <div class="form-group">
        <button class="btn btn-primary" type="submit">add expense</button>
      </div>
      </form>
    
</section>

<section class="goals">
    <header>
        <h3>goal</h3>
        <button id="setGoalBtn">+</button>
    </header>
    
</section>

<script src="./js/expense.js"></script>
